{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="span10 offset1">
<div class="well">
  This program was created by <a href="http://www.joshualande.com">Joshua Lande</a>
  as part of the <a href="http://www.insightdatascience.com">Insight Data Science Fellowship</a>.

  <br><br>

  The source code for this website is hosted on <a href="http://github.com/joshualande/ReviewSkimmer">github</a>.

  <br><br>

  You can contact Joshua by <a href="joshualande@gmail.com">email</a> or
  follow him on twitter <a href="http://twitter.com/joshualande">@joshualande</a>.
</div>
</div>
</div>

{% endblock %}

