{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="span10 offset1">
      <div class="well">
        <div class="row-fluid">
          <div class="span6">
            <center>
              <h1>Best</h1><br/>
              {% for t in top %}
              {{t|safe}}</br></br>
              {% endfor %}
            </center>
          </div>
          <div class="span6">
            <center>
              <h1>Worst</h1><br/>
              {% for b in bottom %}
              {{b|safe}}</br></br>
              {% endfor %}
            </center>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

