{% extends "layout.html" %}

{% block css %}
<!-- Custom CSS to fix aspect ratio of the presentation from
     http://yetti.co.uk/blog/articles/responsive-iframe-objects-and-embeds.html -->
.slideshare-content {
    width: 100%;
    margin: 0px auto;
}
.slideshare-embed-container {
    height: 0;
    width: 100%;
    padding-bottom: 83.37%;
    overflow: hidden;
    position: relative;
}
      
.slideshare-embed-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="span10 offset1">
      <div class="well">
        <div class="slideshare-content">
          <div class="slideshare-embed-container">
            <iframe src="http://www.slideshare.net/slideshow/embed_code/23590995?rel=0" 
              frameborder="0" marginwidth="0" marginheight="0" scrolling="no" 
              style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" 
              allowfullscreen webkitallowfullscreen mozallowfullscreen> 
            </iframe> 
          </div>
        </div>
        <br>
        Or download the presentation 
        <a href="https://s3-us-west-2.amazonaws.com/reviewskimmer/ReviewSkimmer.pdf">here</a>.
      </div>
    </div>
  </div>
{% endblock %}
