{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="span10 offset1">
    <div class="well">

      {% if imdb_movie_id %}

      <center>
        <h1>{{ movie_name }}</h1><br/>
      </center>
      <div class="row-fluid">
        <div class="span3">
          {{ thumbnail_url_html|safe }}
        </div>
        <div class="span9">
          {% for quote in formatted_quotes %}
          {{ quote |safe }}<br/><br/>
          {% endfor %}
        </div>
      </div>

{% if debug %}
  <br/>
  DEBUGGING:
  <br/>

  {{ number_reviews }} reviews
  <br/>
  Top Occuring Words:
    <ul>
      {% for word in top_word_occurances %}
      <li>{{ word }} - {{ top_word_occurances[word] }} </li>
      {% endfor %}
    </ul>
{% endif %}


{% else %}
  <div class="alert alert-error">"{{ movie_name}}" not found in database!</div>
{% endif %}

  </div>
  </div>
</div>


{% endblock %}



{% block script %}

  <script>

<!-- This black magic came from https://drupal.org/node/1437850 -->
!function( $ ){
  $(function () { 
      $('a[rel=popover]').popover(
        {placement:'bottom', 
         trigger:'hover focus',
         html:'true',
        }); 
    });
}( window.jQuery )

  </script>


{% endblock %}
