{% extends "layout.html" %}
{% block body %}

{% if imdb_movie_id %}

<div class="row">
  <div class="span3">

    {{ thumbnail_url_html|safe }}

    </div>
    <div class="span9">


      <h1>{{ movie_name }}</h1><br/>

        {% for quote in top_quotes %}

        <span style="font-size:24px">
          "{{ quote|safe }}"
        </span>

        <br/><br/>
        {% endfor %}
    </ul>

    </div>
</div>


              <br/>
              DEBUGGING:
              <br/>

              {{ number_reviews }} reviews
              <br/>
              Top Occuring Words:
                  <ul>
                      {% for word in top_word_occurances %}
                      <li>{{ word }} - {{ top_word_occurances[word] }} </li>
                      {% endfor %}
                  </ul>


{% else %}
    "{{ movie_name}}" not found in database!
{% endif %}

{% endblock %}
