{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="span10 offset1">
<div class="well">

<h1>The secret webpage of ReviewSkimmer.com</h1>

{% if message != None %}
<hr>
{{ message|safe}}
<hr>
{% else %}

What would you like to do?</br></br>


<form class="form-search" action="secret.html" method="GET">
  <button name="q" value="cachepopular" type="submit" class="btn btn-inverse">Cache Popular Movies</button>
</form>

<form class="form-search" action="secret.html" method="GET">
  <input class="input-medium search-query" name="imdb_movie_id" 
    placeholder="IMDB Movie ID" >
  <button name="q" value="injestmovie" type="submit" class="btn btn-inverse">Injest Movie</button>
</form>

<form class="form-search" action="secret.html" method="GET">
  <input class="input-medium search-query" name="imdb_movie_id" 
    placeholder="IMDB Movie ID" >
  <button name="q" value="getposter" type="submit" class="btn btn-inverse">Get Poster</button>
</form>


{% for i in range(8) %}
  <br>
{% endfor %}

<hr>

<br>
<form class="form-search" action="secret.html" method="GET">
  <button name="q" value="clearcache" type="submit" class="btn btn-inverse">Clear Cache - Warning, this is scary to push!
  </button>
</form>

</div>
</div>
</div>


{% endif %}

{% endblock %}
