{% extends "layout.html" %}
{% block body %}

<h1>Welcome to the secret webpage of ReviewSkimmer.com</h1>

{% if message != None %}
<hr>
{{ message|safe}}
<hr>
{% else %}

What would you like to do?</br></br>


<form class="form-search" action="secret.html" method="GET">
  <button name="q" value="cachepopular" type="submit" class="btn btn-inverse">Cache Popular Moives</button>
</form>

<form class="form-search" action="secret.html" method="GET">
  <input class="input-medium search-query" name="imdb_movie_id" 
    placeholder="IMDB Movie ID" >
  <button name="q" value="injestmovie" type="submit" class="btn btn-inverse">Injest Movie</button>
</form>

<form class="form-search" action="secret.html" method="GET">
  <input class="input-medium search-query" name="imdb_movie_id" 
    placeholder="IMDB Movie ID" >
  <button name="q" value="getposter" type="submit" class="btn btn-inverse">Get Poster</button>
</form>

<hr>

{% for i in range(16) %}
  <br>
{% endfor %}
Warning, this is scary to push!
<br>
<form class="form-search" action="secret.html" method="GET">
  <button name="q" value="clearcache" type="submit" class="btn btn-inverse">Clear Cache</button>
</form>


{% endif %}

{% endblock %}
